{{>header}}



    {{> navbar}}
  <div class="colum">
    <div class="row">
        <div class="col-8">
           <h1>Bienvenidos AL About</h1>
           <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae itaque dicta corrupti rem placeat cupiditate explicabo facilis. Modi, repellat error voluptatibus vero maiores, quibusdam aspernatur ab culpa quam, non minima.</p>
        </div>

         <div class="col-4">
             <img src="assets/img/fond.jpg"  class="img img-fluid img-thubnail">
        </div>

    </div>
     </div>  
{{> footer}}